.word-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.word-table th,
.word-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.word-table th {
  background-color: #3cc9d6; 
  color: #fff; 
}

.word-table tr:hover {
  background-color: #eaf7fa;
}

.word-table button {
  cursor: pointer;
  background-color: #3cc9d6; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

.word-table button:hover {
  background-color: #2fb9ce; 
}

.word-table button.delete-button {
  background-color: #2acdd8;
}

.word-table button.delete-button:hover {
  background-color: #63a1c0;
}

.word-table button.edit-button {
  background-color: #44d6ed;
}

.word-table button.edit-button:hover {
  background-color: #7ac4df;
}

.word-table button.cancel-button {
  background-color: #bbbbbb;
}

.word-table button.cancel-button:hover {
  background-color: #a9a9a9;
}

.add-word-form {
  margin-top: 20px;
  text-align: center;
}

.add-word-form input {
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-word-form button {
  padding: 10px 20px;
  background-color: #3cc9d6; /
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-word-form button:hover {
  background-color: #2fb9ce; 
}

.new-word-row {
  background-color: #f9f9f9;
}
.page-title {
  text-align: center;
  color: #3cc9d6;
  margin-top: 120px;
  font-size: 32px;
}

.page-description {
  text-align: center;
  color: #2fb9ce;
  margin-bottom: 20px;
  font-size: 20px;
}
