.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .home-content {
    text-align: center;
  }
  
  .home-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .home-text {
    font-size: 20px;
    color: #555;
    line-height: 1.5;
  }
  