.word-card-container {
  position: relative;
  width: 100%;
  padding-top: 120px; 
}

.word-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.control-button {
  background-color: #3cc9d6; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  color: white;
  border-radius: 5px;
}

.control-button:hover {
  background-color: #2fb9ce; 
}

.word-card {
  flex-grow: 1;
  margin: 0 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 300px;
  transition: transform 0.5s ease-in-out;
}

.word-card h2 {
  margin: 0;
  font-size: 24px;
  color: #3cc9d6; 
}

.word-card p {
  font-size: 18px;
  color: #2fb9ce; 
}

.word-card button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #3cc9d6; 
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.word-card button:hover {
  background-color: #2fb9ce; 
}

.slide-left-enter,
.slide-left-exit-active {
  transform: translateX(100%);
}

.slide-left-enter-active,
.slide-left-exit {
  transform: translateX(0);
}

.slide-right-enter,
.slide-right-exit-active {
  transform: translateX(-100%);
}

.slide-right-enter-active,
.slide-right-exit {
  transform: translateX(0);
}

.back-link {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: #3cc9d6; 
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.back-link:hover {
  background-color: #2fb9ce; 
}
